In [22]:
import pandas as pd

In [23]:
file = pd.read_csv('alzheimers_trials_pmids.csv', index_col=0)
df = pd.DataFrame(file)

In [24]:
df

                                                          PMID
NCT_ID
NCT00000171                           ['14655926', '33189083']
NCT00000172                                       ['10971048']
NCT00000173  ['14732621', '17210817', '2650663', '35719690'...
NCT00000174                                       ['17509485']
NCT00000176      ['17195882', '8709781', '9191758', '9484355']
...                                                        ...
NCT06774261  ['11261809', '11336614', '11830755', '15132713...
NCT06781645                           ['26540080', '35461471']
NCT06793735               ['19812460', '30239213', '32903506']
NCT06826157  ['21514249', '21514250', '21810890', '26199870...
NCT06826261  ['14580622', '16209425', '17452283', '17562028...

[1085 rows x 1 columns]

In [54]:
new_df = pd.DataFrame(columns=['NCT_ID','PMID'])

In [55]:
import regex as re
for index, row in df.iterrows():
    pmids = row['PMID'] 
    codes = re.findall("'([^']*)'", pmids)
    for i in codes:
            new_df = new_df.append({'NCT_ID': index, 'PMID': i}, ignore_index=True)

In [56]:
print(df[:3])
print(new_df[:5])

                                                          PMID
NCT_ID
NCT00000171                           ['14655926', '33189083']
NCT00000172                                       ['10971048']
NCT00000173  ['14732621', '17210817', '2650663', '35719690'...
        NCT_ID      PMID
0  NCT00000171  14655926
1  NCT00000171  33189083
2  NCT00000172  10971048
3  NCT00000173  14732621
4  NCT00000173  17210817

In [60]:
new_df.drop_duplicates(subset=['PMID'], keep='first', inplace=True)

In [64]:
new_df.to_csv('pmids.csv')